{% extends 'base.html' %}

{% block content %}

<div class="container" align="center">

<div class="card" style="width: 25rem;">
  <div class="card-body">
    <h3 class="card-title">{{ data.username }}</h3>
    <h3 class="card-subtitle mb-2 text-muted">{{ data.email }}</h3>
    <p class="card-text">{{ data.first_name }}&nbsp &nbsp{{ data.last_name }}</p>
    <p class="class-text">{{ profile.phone_number }}</p>
    <a href="{% url 'add' %}" class="card-link">AddPolls</a>&nbsp&nbsp<a href="{% url 'following' %}" class="card-link">Following</a>
  </div>
</div>

</div>
<hr>
{% endblock %}